*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
h2 {
	color: rgb(135, 199, 7);
}
p {
	color: rgb(0, 145, 255);
}
ul,
li {
	color: brown;
}
.intr {
	color: rebeccapurple;
}
.head {
	color: palevioletred;
}
a {
	color: goldenrod;
}
